html, body{
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    flex: 0 80px;
    background-color: rgb(185, 49, 142);;
}

menu {
    flex: 1;
    flex-direction: row !important;
    align-items: center;
}

menu .nav-item {
    padding: 0 0.45em;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: linear-gradient(to bottom, aliceblue, #c9d5ef);
}

main .center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification {
    margin: .8em;
    color: gray;
}

.card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .5em;
    font-weight: bold;
    font-family: monospace;

}

.btn {
    margin-top: .75em;
}

footer {
    flex: 0 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .4em;
    padding-right: .4em;
    background-color: rgb(85, 0, 113);
}

footer .pallete-credit{
    float: right;
    align-items: center;
}

@media(max-height: 600px){
    footer{
        display: none;
    }
}

@media(max-height: 500px){
    header.container-fluid{
        display: none;
    }
    nav.navbar.fixed-top{
        display: none;
    }
}