html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.table table {
    margin: 50px;
}

.table thead th {
    background-color: #0c3ca3 !important;
    color: white;
}

td {
    max-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}